In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String

In [5]:
Base = declarative_base()

engine = create_engine('postgresql+psycopg2://admin:example@localhost:5432/some_db_dev', echo=True)
Session = sessionmaker(bind=engine)

In [6]:
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

    def __repr__(self):
         return "<User(name='%s', fullname='%s', nickname='%s')>" % (self.name, self.fullname, self.nickname)

In [7]:
Base.metadata.create_all(engine)

2021-10-23 19:58:58,520 INFO sqlalchemy.engine.base.Engine select version()
2021-10-23 19:58:58,521 INFO sqlalchemy.engine.base.Engine {}
2021-10-23 19:58:58,525 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-10-23 19:58:58,526 INFO sqlalchemy.engine.base.Engine {}
2021-10-23 19:58:58,528 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-10-23 19:58:58,531 INFO sqlalchemy.engine.base.Engine {}
2021-10-23 19:58:58,536 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-10-23 19:58:58,538 INFO sqlalchemy.engine.base.Engine {}
2021-10-23 19:58:58,541 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-10-23 19:58:58,541 INFO sqlalchemy.engine.base.Engine {}
2021-10-23 19:58:58,544 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-23 19:58:58,545 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2021-10-23 19:58:58,551 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id SERIAL NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2021-10-23 19:58:58,552 INFO sqlalchemy.engine.base.Engine {}
2021-10-23 19:58:58,575 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
session = Session()

In [9]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [10]:
our_user = session.query(User).filter_by(name='ed').first()

2021-10-23 19:59:48,283 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-10-23 19:59:48,291 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2021-10-23 19:59:48,297 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'param_1': 1}

In [11]:
our_user

In [12]:
session.commit()

2021-10-23 19:59:49,367 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
session

In [14]:
session.add_all([User(name='wendy', fullname='Wendy Williams', nickname='windy'),
User(name='mary', fullname='Mary Contrary', nickname='mary'),
User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [15]:
session.commit()

2021-10-23 19:59:51,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-10-23 19:59:51,009 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2021-10-23 19:59:51,012 INFO sqlalchemy.engine.base.Engine {'name': 'wendy', 'fullname': 'Wendy Williams', 'nickname': 'windy'}
2021-10-23 19:59:51,015 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2021-10-23 19:59:51,016 INFO sqlalchemy.engine.base.Engine {'name': 'mary', 'fullname': 'Mary Contrary', 'nickname': 'mary'}
2021-10-23 19:59:51,018 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2021-10-23 19:59:51,019 INFO sqlalchemy.engine.base.Engine {'name': 'fred', 'fullname': 'Fred Flintstone', 'nickname': 'freddy'}
2021-10-23 19:59:51,026 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
session.query(User).all()

2021-10-23 19:59:52,411 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-10-23 19:59:52,417 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2021-10-23 19:59:52,420 INFO sqlalchemy.engine.base.Engine {}

[<User(name='wendy', fullname='Wendy Williams', nickname='windy')>,
 <User(name='mary', fullname='Mary Contrary', nickname='mary')>,
 <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>]